__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/
.eggs/
*.so
.venv/
venv/
env/
.env
.pytest_cache/
.ruff_cache/
*.log
!tests/fixtures/**/*.log
.mypy_cache/
.pdm-python
ARCHITECTURE.md
